@charset "utf-8";

/** font imports **/
@import "fonts.css";
@import "buttons.css";

$page-width: 500px;
$font-stack: museo-sans, Helvetica, sans-serif;
$font-size: 16px;
$font-size-chat: 12px;
$font-headers: museo-slab;
$primary-color: #0099ff; //#00BBFF
$chat-bubble-color:#00ccff;
$secondary-color: #ff9900;
$message-color: #666;
$link-color: darken($primary-color, 25%);

@mixin radius($radius:3px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.radius { @include radius(3px); }

body {
  padding: 10px;
  font: 100% $font-stack;
  font-size: $font-size;
  width: $page-width;
  margin: 0 auto;

  h1, h2, h3, h4, h5, h6, h7{
    font-family: $font-headers;
  }

  a{
    color: $link-color;
    &:hover{
      text-decoration: none;

    }
  }
}


#nav {
  margin-bottom: 15px;
  ul{
    margin:0;
    padding: 0;
    text-align: center;

    li{
      list-style-type: none;
      display: inline-block;
      position: relative;

    }
  }
}

#container {

}


#chat__username {
  width: 150px;
  display:inline-block;
}
#chat__newmessage {
  width: 250px;
  display:inline-block;
}

#chat__savemessage {
  margin-top:-2px;

  &:focus {
    outline: none;
  }
}

.chat__messages{
  height: 300px;
  overflow: scroll;
  padding:10px;
  margin-bottom: 10px;
  @extend .radius;
  box-shadow:0 0 3px rgba(0, 0, 0, 0.5) inset;

  ul{
    margin:0;
    padding:0;

    li{
      list-style-type: none;
      margin-bottom: 10px;
      position: relative;

      text-shadow: 0 1px 0 rgba(255,255,255,0.5);
      font-size: $font-size-chat;

      .delete{
        cursor: pointer;
        position: absolute;
        top:5px;
        right:5px;
        padding:1px 3px;
        text-decoration: none;
        color:#000;
        text-shadow:none;
        &:hover{
          color:#fff;
          background-color:#f00;
          @extend .radius;

        }
      }

      .chat__message{
        display: block;
        line-height: 18px;
        padding: 3px 20px 3px 5px;
        margin-bottom: 10px;
        background-color: $chat-bubble-color;
        box-shadow:inset 0px -1px 0 rgba(0,0,0,0.3);
        @extend .radius;

        &:after{
          position: absolute;
          bottom: 19px;
          left: 10px;
          display: block;
          content: "";
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid $chat-bubble-color;
        }
      }

      .username{
        font-weight: 700;
      }

      .timestamp {
        position: absolute;
        right: 3px;
        bottom: 7px;
        display: inline-block;
        font-size: 8px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 57px;
      }
    }
  }
}

.error {
  color:#ff0000;
  border:1px solid #f00;
}

.none{
  display: none !important;
}
