<h2>Epic Chat App</h2>

<div class="chat__messages">
    <ul>
        <li ng-repeat="message in app.messages" class="chat__message-row">
            <div class="chat__message">{{message.message}}</div>
            <span class="username" style="color:{{message.userColor}}">{{message.userName}}</span>
            <a class="fa fa-trash-o delete" data-id="{message._id}" ng-click="app.messageDelete(message._id)"></a>
            <span class="timestamp">{{ message.date }}</span>
            <input type="text" ng-model="message.message" class="chat__message none" ng-change="app.messageUpdate(message._id, message.message)">
        </li>
    </ul>
</div>

<ng-form name="form" ng-keypress="app.messageSave($event)">
    <input class="form-control" id="chat__username" type="text" ng-model="newUser" placeholder="Name" autofocus="" ng-required="true">
    <input class="form-control" id="chat__newmessage" type="text" ng-model="newMessage" ng-show="newUser" placeholder="Type your message here..." ng-required="true">
    <!--<button class="btn btn-primary" id="chat__savemessage" type="submit" ng-show="newMessage"><i class="fa fa-send ng-dirty"></i> Send</button>-->
</ng-form>