<h2>Contact us</h2>

<p>Lollipop jelly beans carrot cake pudding. Soufflé icing cake marshmallow oat cake. Brownie marzipan pudding wafer soufflé croissant macaroon cake jujubes. Cookie toffee pie cookie gummi bears toffee chupa chups pie. Fruitcake marzipan cupcake wafer halvah liquorice chocolate bar chocolate cake sugar plum. Chupa chups powder croissant jujubes sesame snaps bear claw. Jelly cookie chocolate sugar plum chocolate cake donut wafer carrot cake gummi bears. Soufflé oat cake icing cupcake lemon drops ice cream marzipan toffee chocolate. Bear claw wafer powder.</p>

<form action="contact.html" method="post">
    <label for="name">name</label>
    <input class="form-control" type="text" id="name" name="name">
    <label for="subject">Subject</label>
    <input class="form-control" type="text" id="subject" name="subject">
    <label for="message">Message</label>
    <textarea class="form-control" name="message" id="message" cols="30" rows="10"></textarea>
    <button class="button" type="submit">Send</button>
</form>


